<ion-view>
  <ion-nav-title>
    <img ng-src="./img/LogoHeader.png" class="logo">
  </ion-nav-title>
  <ion-content has-bouncing='false' class="staff-background">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
    </ion-refresher>
    <div class="staff-section">Administration Staff</div>
    <ion-list ng-repeat="staff_member in staff | filter: {type: 'admin'} | orderBy: 'name.split(\' \')[2]'" class="staff-container">
        <ion-item ng-click="show_staff = !show_staff" class="staff-member">
            {{staff_member.name}} <span class="staff-title">{{staff_member.title}}</span>
            <span ng-if="show_staff" class="staff-info">
                <br>
                <a target="_blank" href="mailto:{{staff_member.email}}">{{staff_member.email}}</a>
                <br>
                <a class="discover-website" ng-if="staff_member.website" ng-click="openLink(staff_member.website)">Website</a>
            </span>
            <i ng-if="staff_member.website || staff_member.email" class="ion-ios-arrow-right info-arrow"></i>
        </ion-item>
    </ion-list>
    <div class="staff-section">Teaching Staff</div>
    <ion-list ng-repeat="staff_member in staff | filter: {type: 'teacher'} | orderBy: 'name.split(\' \')[2]'" class="staff-container">
        <ion-item ng-click="show_staff = !show_staff" class="staff-member">
            {{staff_member.name}} <span class="staff-title">{{staff_member.title}}</span>
            <span ng-if="show_staff" class="staff-info">
                <br>
                <a target="_blank" href="mailto:{{staff_member.email}}">{{staff_member.email}}</a>
                <br>
                <a class="discover-website" ng-if="staff_member.website" ng-click="openLink(staff_member.website)">Website</a>
            </span>
            <i ng-if="staff_member.website || staff_member.email" class="ion-ios-arrow-right info-arrow"></i>
        </ion-item>
    </ion-list>
    <div class="staff-section">Support Staff</div>
    <ion-list ng-repeat="staff_member in staff | filter: {type: 'support'} | orderBy: 'name.split(\' \')[2]'" class="staff-container">
        <ion-item ng-click="show_staff = !show_staff" class="staff-member">
            {{staff_member.name}} <span class="staff-title">{{staff_member.title}}</span>
            <span ng-if="show_staff" class="staff-info">
                <br>
                <a target="_blank" href="mailto:{{staff_member.email}}">{{staff_member.email}}</a>
                <br>
                <a class="discover-website" ng-if="staff_member.website" ng-click="openLink(staff_member.website)">Website</a>
            </span>
            <i ng-if="staff_member.website || staff_member.email" class="ion-ios-arrow-right info-arrow"></i>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>