<ion-view>
  <ion-nav-title>
    <img ng-src="../img/LogoHeader.png" class="logo">
  </ion-nav-title>
  <ion-content has-bouncing='false' class="week-background" on-swipe-left="incrementWeek()" on-swipe-right="decrementWeek()">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
    </ion-refresher>
    <button ng-if="!isThisWeek()" ng-click="switchToThisWeek()" class="curr-week-button button button-light">
        Navigate To Current Week
    </button>
    <a class="week-day" ng-repeat="day in days" ng-class="{'today': day.today}" ui-sref="day({date: day.valueOf()})">
        <div class="date">
            <span class="display-day">{{day.getShortDay()}}</span>
            <span class="num">{{day.getTwoDigitDate()}}</span>
            <span class="month">{{day.getShortMonth()}}</span>
        </div>
        <div class="info">
            <span ng-if="day.day_type !== 'holiday'">
                <div class="time" ng-if="day.diplaySchoolTime">{{day.diplaySchoolTime}}</div>
                <div class="time" ng-if="!day.diplaySchoolTime && day.rotation">8:30pm - 3:00pm</div>
                <div class="rotation" ng-if="day.rotation">{{day.rotation}}</div>
            </span>
            <div class="name" ng-if="day.name && day.day_type !== 'holiday'">{{day.name}}</div>
        </div>
        <div class="big-name" ng-if="day.day_type === 'holiday'">{{day.name}}</div>
        <div class="announcement">
            {{day.announcement}}
        </div>
    </a>
  </ion-content>
</ion-view>