html {
  height: 100%;
}

body {
  margin: 0;
  background: #37bc61;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  color: white;
  font-size: 150%;
}

.logo {
  height: 15em;
}

.content {
  text-align: center;
}

.desc {
  max-width: 20em;
}

.desc a {
  color:white;
}